body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

.btn-add {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-add:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.action-buttons a {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.edit {
    background-color: #4CAF50;
}

.delete {
    background-color: #f44336;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form-group img {
    margin-top: 10px;
}

.btn-save {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-save:hover {
    background-color: #45a049;
}
